.game-view {
    height: 100vh;
}

.light {
    background: rgb(255, 255, 255);
    color: rgb(0, 0, 0);

    transition: 1s;
}

.dark {
    background: rgb(24, 24, 24);
    color: rgb(255, 255, 255);

    transition: 1s;
}

::selection {
    background: rgb(219, 217, 217);
}

.gameboard {
    margin: 0 auto;
    width: 100%;

    text-align: center;
}

@media screen and (min-width: 390px) {
    .gameboard {
        width: 390px;
    }
}

.header {
    padding: 20px 0;
    /* width: 100%; */
}

.title {
    font-size: 26px;
    font-weight: 700;
}

.instruction {
    padding: 5px;

    font-size: 18px;
    font-weight: 500;
}

span {
    padding: 5px;
}

.buttons {
    display: flex;
    justify-content: space-around;
    align-content: center;
}

button {
    margin: 5px 0;
    border: 0;
    border-bottom: 10px solid transparent;

    font-family: "Segoe UI", sans-serif;
    font-size: 16px;
    font-weight: 600;

    transition: 1.5s;
}

button:hover {
    cursor: pointer;

    border-bottom: 10px solid rgb(219, 217, 217);
}