.card {
    display: flex;
    justify-content: space-around;
    align-content: center;
    /* flex-direction: column-reverse; */
    flex-wrap: wrap;

    border-radius: 20%;
    /* border: 1px dashed rgb(59, 59, 59); */
    margin-bottom: 10px;
    padding: 5px 0;
    width: 100px;
    height: 100px;

    background: rgb(219, 217, 217);

    user-select: none;
}

.card div {
    /* color: white; */
    /* background: rgba(0, 0, 0, .3); */

    text-align: center;

    font-size: 16px;
    font-weight: 600;
}

.card:hover {
    cursor: pointer;
}

.back {
    font-size: 60px;
    font-weight: 900;
    /* color: rgb(118, 118, 118); */
    color: rgb(151, 151, 151);
}

.back:hover {
    background: rgba(219, 217, 217, .5);
}

img {
    width: 60%;
}

.cat {
    background: rgb(153, 119, 180);
}

.crow {
    background: rgb(139, 139, 139);
}

.dog {
    background: rgb(107, 211, 180);
}

.fish {
    background: rgb(135, 184, 225);
}

.frog {
    background: rgb(192, 222, 150);
}

.hippo {
    background: rgb(218, 139, 139);
}

.horse {
    background: rgb(255, 246, 143);
}

.spider {
    background: rgb(252, 208, 131);
}